<h1>Suggested Tips</h1>
<div class="section">
  <table>
    <thead>
      <tr>
        <th>Services</th>
        <th>Typical Tip</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Restaurants, Bartenders</td>
        <td>15%-20%</td>
      </tr>
      <tr>
        <td>Food Delivery</td>
        <td>15%-20% depending on the distance, total price, etc.</td>
      </tr>
      <tr>
        <td>Hotel Room Service</td>
        <td>
          Normally the charge is included in the price already. If not, 15-20%
        </td>
      </tr>
      <tr>
        <td>Hotel Housekeeping</td>
        <td>Not expected, $1-$2 per person per night.</td>
      </tr>
      <tr>
        <td>Automotive Services, Mechanic</td>
        <td>Not expected, Or a few dollars depending on the amount</td>
      </tr>
      <tr>
        <td>Mover, Furniture, or Appliance Delivery</td>
        <td>Not expected, Or $5, $10, $20 each depending on the amount</td>
      </tr>
      <tr>
        <td>Plumber, Handyman, Electrician, Cleaner, or Other Home Services</td>
        <td>Not expected, Or $5, $10, $20 each depending on the amount</td>
      </tr>
      <tr>
        <td>Hairstylists, Barber, Nail Service, etc.</td>
        <td>10%-20%</td>
      </tr>
      <tr>
        <td>Massage</td>
        <td>10%-20%</td>
      </tr>
      <tr>
        <td>Taxi or Limo Drivers</td>
        <td>15%-20%</td>
      </tr>
      <tr>
        <td>Shuttle Drivers, Parking Attendant</td>
        <td>$1-$3</td>
      </tr>
      <tr>
        <td>Tour Guides</td>
        <td>$1-$5 depending on the length of the tour</td>
      </tr>
    </tbody>
  </table>
</div>
